.navgation {
  background-color: #74b9ff;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 25%;
}

.nav-tabs {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: end;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  
  
}
.nav-item {
  padding: 10px;
  color: #fff;
  
}
a.nav-link {
  color: #fff;
  text-decoration: none;
}



.left h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
